{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles duoshuo_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% if ads_posts %}
   <div id="banner">
      <ul class="img">
    {% for blog_post in ads_posts %}
         <li style="position:relative;">
{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
        <img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 713 268 %}"  width="713" height="268"/>
{% else %}
       <img src='{% static "images/banner_1.jpg" %}' width="713" height="268" />
{% endif %}
            <div id="tou" style="width:261px; height:268px;background:rgba(255,255,255,0.6)!important;filter:Alpha(opacity=60);background:#fff; position:absolute; left:20px; top:0; z-index:1;"></div>
            <div style=" position:absolute; left:20px; top:0; z-index:2; padding:0 20px;" >
            <p>&nbsp;</p>
            <h1 style="font-size:24px; text-align:center;"><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
            </h1>
             <p>&nbsp;</p>
    {% with blog_post.user as author %}
    <p>by <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
             </p> 
             <p>&nbsp;</p>
             <span>
{{ blog_post.description_from_content|safe }}
        </span>
        </div>
        </li>
    {% endfor %}

      </ul>
  </div>
  <div class="tip">
       <ul>
          <li class="tips"></li>
          <li class="tips"></li>
          <li class="tips"></li>
          <li class="tips"></li>
          <li class="tips"></li>
          <li class="last tips"></li>
      </ul>
  </div>
  {% endif %}

{% if tag or category or year or month or author %}
    {% block blog_post_list_filterinfo %}
    <p>
    {% if tag %}
        {% trans "Viewing posts tagged" %} {{ tag }}
    {% else %}{% if category %}
        {% trans "Viewing posts for the category" %} {{ category }}
    {% else %}{% if year or month %}
        {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
        {{ year }}
    {% else %}{% if author %}
        {% trans "Viewing posts by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    {% endblock %}
    </p>
{% else %}
    {% if page %}
    {% block blog_post_list_pagecontent %}
    {% editable page.richtextpage.content %}
    {{ page.richtextpage.content|richtext_filters|safe }}
    {% endeditable %}
    {% endblock %}
    {% endif %}
{% endif %}

{% for blog_post in blog_posts.object_list %}
     <div class="news">
     <div class="newsContent">
{% block blog_post_list_post_metainfo %}
{% editable blog_post.publish_date %}
       <table width="100%" border="0">
          <tr>
              <td width="11%" rowspan="2"><img src='{% static "images/27 (20).gif" %}' /></td>
    {% with blog_post.user as author %}
	<td width="71%"><span class="author"><a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a></span>
    {% endwith %}
            发表了日志：</td>
            <td width="18%">&nbsp;</td>
          </tr>
          <tr>
			  <td class="display">
{% block blog_post_list_post_title %}
{% editable blog_post.title %}
<h2>
    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
</h2>
{% endeditable %}
{% endblock %}
			  </td>
            <td class="time">
    {% with blog_post.categories.all as categories %}
    {% if categories %}
    {% trans "in" %}
    {% for category in categories %}
    <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
	{% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
        </td>
          </tr>
       </table>
       {% endeditable %}
{% endblock %}
<div class="line"></div>

{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
{% block blog_post_list_post_featured_image %}
<div class="bookPic"><a href="{{ blog_post.get_absolute_url }}">
        <img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 180 180 %}" /></a></div>
{% endblock %}
{% endif %}

{% block blog_post_list_post_content %}
<div class="bookDec">
{% editable blog_post.content %}
{{ blog_post.description_from_content|safe }}
{% endeditable %}
</div>
{% endblock %}

{% block blog_post_list_post_links %}
       <div  class="detail">
    {% keywords_for blog_post as tags %}
    {% if tags %}
    {% trans "Tags" %}:
    {% spaceless %}
    {% for tag in tags %}
    <a href="{% url "blog_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a>
    {% endfor %}
    {% endspaceless %}
    <br>
    {% endif %}
    <img src='{% static "images/3.gif" %}' /><span>
		
	<a href="{{ blog_post.get_absolute_url }}#comments">
		<span class="ds-thread-count" data-thread-key="{% duoshuo_id_for blog_post %}" data-count-type="comments"></span>
    </a>

		 <span class="see"><a href="{{ blog_post.get_absolute_url }}">查看详情>> </a></span>
    
    </div>
</div>
</div>

{% endblock %}
{% endfor %}

{% pagination_for blog_posts %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}
<script type="text/javascript">
var duoshuoQuery = {short_name:"{% duoshuo_shortname %}"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>


{% endblock %}

{% block right_panel %}
{% include "blog/includes/filter_panel.html" %}
{% endblock %}
