@charset "utf-8";
/* CSS Document */ 
body{padding:0; margin:0; background-color:#E9E9E7; color:#383838; font-family:"微软雅黑";font-size:12px; }
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul{list-style:none;}
a{text-decoration:none; font-family:"微软雅黑"; color:#000; }
a:hover{text-decoration:none; color:red;}
img{border:0;}
dl dt{float:left;}
/*布局*/
#container{margin:0 auto; width:1004px;}
#header{ height:90px;}
#nav{height:30px;background-color:#000;}
#maincontent{margin-top:17px;}
#main{ width:732px; float:left;}
#side{ width:252px; float:right;}
#footer{clear:both;  padding:10px 20px;text-align:center; line-height:20px; font-size:12px;}
/*conent*/
#nav ul{list-style:none; margin:0; padding:0; line-height:30px; text-align:center;}
#nav ul li{float:left; width:127px; height:30px;;background-color:#000;font-weight:bold; font-size:14px;position:relative; }
#nav ul li a{color:#FFFFFF; text-decoration:none; display:block;}
 #nav ul li a:hover{background-color:#999;}
 /*这一步写法注意：li.navline中间不能有空格*/
#nav ul li.navline{ width:1px; height:19px; background-color:#FFF; margin-top:4px;}

.subNav{display:none;position:absolute; left:0; z-index:100;background-color:#999;}
#nav .subNav li {width:127px; height:27px;float:none; }
.subNav li a{ display:block;}
.subNav li a:hover{display:block; background-color:#0066FF;}

h2{margin-left:20px; color:#383838; font-weight:normal;}
   #banner{ width:712px;background-color:#FFFFFF;padding:10px;}
  a.go{color:#D32016; font-weight:bold;}   
   .img{text-align:center}
   .tip{width:732px;height:20px;margin:0 auto 10px;clear:both;background:#fff;_width:733px;}
   .tip ul{_margin-left:-5px;}
   .tips{float:left; display:block; width:110px; _width:113px; height:7px;margin-left:10px;_margin-left:7px;background-color:#E5E6E5;  overflow:hidden;} 
   .tip li.last{ width:113px;_width:114px;}
 td.display{ font-size:18px;}
 td.time{color:#666;}
.news{width:732px; background-color:#FFFFFF;margin-top:15px;}
.line{ width:100%; height:10px; border-bottom:1px dashed  #444; margin-bottom:15px;}
.bookPic{ float:left; width:180px; height:180px; margin-right:25px;}
.bookDec{float:left;}
.bookDec p{line-height:20px;}
.detail{clear:both; position:relative; top:0px; line-height:45px;}
.detail img{ margin:0 5px;}
.detail .see{ margin-left:370px;}
#news2{margin-top:15px;}
.newsContent{padding:10px;}
.author{ color:#111; font-weight:bold;}
/*side*/
#seaText{ width:188px; height:37px; line-height:37px; font-size:13px; border:1px solid #CCC; font-family:"微软雅黑"; position:relative; padding-left:20px;}
#search{ background:url(../images/search.gif) no-repeat 6px; background-color:#fff;border:1px solid #ccc;_border:none; border-left:none;width:42px; height:41px;  position:absolute; margin-left:0px; margin-left:-3px\9; *margin-left:0px;_margin-left:-3px;}
.sideContent{ width:232px;background-color:#FFFFFF; margin-top:22px;margin-top:18px\9;*margin-top:18px;-margin-top:18px; padding:10px; }
.sideContent ul{list-style:disc; margin-left: 20px; margin-top:10px;}

td.article{ font-size:17px; font-weight:bold;}
#split{ margin-top:20px; height:25px; position:relative; }
#split ul{position:absolute; right:0;}
#split li{float:left; background-color:#F5F5F5; border:1px solid #CCCCCC; width:18px; height:20px; margin-right:5px; text-align:center; line-height:20px; font-weight:bold;}
#split li a{ display:block;}
#split li a:hover{color:#000;}
#split .firstPage{border:1px solid #333333;}
#split .next{width:50px;}
#split .last{width:30px; }

.rtip{background-color:#D32016;}
